body {
    font-weight: bold;
}

.wills_face {
    margin-left: 5px;
    margin-top: 5px;
}

.parallax-container {
    height: 700px;
}

.personal_github {
    height: 54px;
    position: relative;
    margin: 5px;
}